/* Native Spinner Vanilla CSS - SELF-CONTAINED - TOKEN LED */

/* ===================== BASE STRUCTURE ===================== */

.native-spinner {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.native-spinner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
}

/* ===================== SIZE VARIANTS ===================== */

.native-spinner.size-small {
  width: 16px;
  height: 16px;
}

.native-spinner.size-default {
  width: 24px;
  height: 24px;
}

.native-spinner.size-large {
  width: 32px;
  height: 32px;
}

.native-spinner.size-xlarge {
  width: 44px;
  height: 44px;
}

/* Sets 1 and 2 support up to 64px */
.native-spinner[data-spinner-set="1"].size-xlarge,
.native-spinner[data-spinner-set="2"].size-xlarge {
  width: 64px;
  height: 64px;
}

/* ===================== SPINNER SET 1 - 8 FRAMES ===================== */

.native-spinner[data-spinner-set="1"] img {
  animation-name: spinner-set-1;
}

@keyframes spinner-set-1 {
  0% { opacity: 1; }
  12.5% { opacity: 0; }
  100% { opacity: 0; }
}

.native-spinner[data-spinner-set="1"] img:nth-child(1) {
  animation-delay: 0s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(2) {
  animation-delay: 0.125s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(3) {
  animation-delay: 0.25s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(4) {
  animation-delay: 0.375s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(5) {
  animation-delay: 0.5s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(6) {
  animation-delay: 0.625s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(7) {
  animation-delay: 0.75s;
}

.native-spinner[data-spinner-set="1"] img:nth-child(8) {
  animation-delay: 0.875s;
}

/* ===================== SPINNER SET 2 - 4 FRAMES ===================== */

.native-spinner[data-spinner-set="2"] img {
  animation-name: spinner-set-2;
}

@keyframes spinner-set-2 {
  0% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

.native-spinner[data-spinner-set="2"] img:nth-child(1) {
  animation-delay: 0s;
}

.native-spinner[data-spinner-set="2"] img:nth-child(2) {
  animation-delay: 0.25s;
}

.native-spinner[data-spinner-set="2"] img:nth-child(3) {
  animation-delay: 0.5s;
}

.native-spinner[data-spinner-set="2"] img:nth-child(4) {
  animation-delay: 0.75s;
}

/* ===================== SPINNER SET 3 - 4 FRAMES ===================== */

.native-spinner[data-spinner-set="3"] img {
  animation-name: spinner-set-3;
}

@keyframes spinner-set-3 {
  0% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

.native-spinner[data-spinner-set="3"] img:nth-child(1) {
  animation-delay: 0s;
}

.native-spinner[data-spinner-set="3"] img:nth-child(2) {
  animation-delay: 0.25s;
}

.native-spinner[data-spinner-set="3"] img:nth-child(3) {
  animation-delay: 0.5s;
}

.native-spinner[data-spinner-set="3"] img:nth-child(4) {
  animation-delay: 0.75s;
}

/* ===================== SPINNER SET 4 - 4 FRAMES ===================== */

.native-spinner[data-spinner-set="4"] img {
  animation-name: spinner-set-4;
}

@keyframes spinner-set-4 {
  0% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

.native-spinner[data-spinner-set="4"] img:nth-child(1) {
  animation-delay: 0s;
}

.native-spinner[data-spinner-set="4"] img:nth-child(2) {
  animation-delay: 0.25s;
}

.native-spinner[data-spinner-set="4"] img:nth-child(3) {
  animation-delay: 0.5s;
}

.native-spinner[data-spinner-set="4"] img:nth-child(4) {
  animation-delay: 0.75s;
}

/* ===================== DARK MODE ===================== */

/* Dark mode handled by JavaScript loading correct SVG folder */
